{% trans_default_domain('mail') %}
<h3>{{ 'title.activation-code' | trans }}</h3>
<p>{{ 'explanation.activation-code.welcome' | trans }}</p>
<a href="{{ confirmationUrl }}" title="{{ 'link.activation.text' | trans}}">{{ 'link.activation.text' | trans}}</a>
<p>{{ 'explanation.activation-code.how-to' | trans }}</p>
