{% trans_default_domain('mail') %}
<h3>{{ 'title.password-lost' | trans }}</h3>
<p>{{ 'explanation.password-lost.declaration' | trans }}</p>
<a href="{{ confirmationUrl }}" title="{{ 'link.reset.text' | trans}}">{{ 'link.reset.text' | trans}}</a>
<p>{{ 'explanation.password-lost.how-to' | trans }}</p>
